App/build
App/Pods
App/output
# App/App/public (Removed ignore for Xcode Cloud)
DerivedData
xcuserdata

# Cordova plugins for Capacitor
capacitor-cordova-ios-plugins

# Generated Config files
# App/App/capacitor.config.json (Removed ignore for Xcode Cloud)
# App/App/config.xml
